**/.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
.gitignore
.vscode
#semana_1
#semana_2
#semana_3
semana_4
semana_5 /
semana_6
semana_7

#Labs no utilizados
semana_1/.lab-control-flow
semana_1/.lab-tuple-set-dict
semana_1/lab-vikings-troll